<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let receta of recetas">
      <div class="card">
        <img class="card-img-top" [src]="receta.imagenUrl" alt="Imagen de receta">
        <div class="card-body">
          <h5 class="card-title">{{ receta.nombre }}</h5>
          <p class="card-text">Autor: {{ receta.autor }}</p>
          <p class="card-text">Calificación: {{ receta.calificacion }} ({{ receta.numOpiniones }} opiniones)</p>
          <p class="card-text">Duración: {{ receta.duracion }} minutos</p>
          <p class="card-text">Dificultad: {{ receta.dificultad }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
