table{
    margin-top: 40px;
    background-color: rgb(215, 215, 215);
    text-align: left;
    border-collapse:collapse ;
    width: 100%;
}

.div-centered{
    margin-right:50px;
    margin-left:50px;
}

th,td{
    padding: 15px;
}

thead{
    background-color: rgb(164, 164, 164);
}

table tbody tr td:nth-child(2) {
    color: rgb(255, 0, 0);
}

table tbody tr td:nth-child(1) {
    font-weight: bold;
}